<style>
    #footer{
        width: 100vw;
        height: 271px;
        position: relative;
        left: 0;
        bottom: 0;
        background: #0C3255;
        margin: 0 auto;
        color: #fff;


    }

</style>
   
   
<div id="footer" class="fluid-container row" >
    <div class="col">
      
        <img src="/images/logo/Group 1.jpg" alt="" >
    </div>
    <div class="col d-flex" style="flex-direction:column;line-height: 60px;">
        <span>台灣旅行</span>
        <span>旅遊景點</span>
        <span>推薦住宿</span>
        <span>美食饗宴</span>
    </div>
    <div class="col d-flex " style="flex-direction:column;line-height: 60px;">
        <span>關於我們</span>
        <span>地址:106433台北市</span>
        <span>24小時免付費旅遊諮詢熱線:</span>
        <span>電話:</span>
    </div>
    <div class="col">
        <div>
            <span><i class="fa-brands fa-facebook-f"></i></span>
        </div>
    </div>
        


</div>